<!--
<head>

  <style>
    body{
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
    }
    .container-flex{
      background: url(assets/image/header.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
    }/*
    .container-flex::before{
      content: '';
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      height: 100%;

    }*/
    .content{/*
      position: relative;
      display: block;*/
      height:70vh;
      margin:0 100px;
      width: 60%;

    }
    .col-12{
        font-family: 'Roboto',sans-serif;
        font-weight: bold;
        top: 130px;

    }
    h1{
      color: white;
      font-size: 40px;
    }
    p{
      color:#324161;
      display: inline-block;
    }
    .creez{
      width: 50%;
      height: 50px;
      margin-left: 45px;
      color: white;
      font-size: 25px;
      background:#324161;
      align-items: center;
      text-align: center;
      justify-content: center;
      border: none;
      border-radius: 20px;
    }
  </style>
</head>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T053Z2W7VN');
</script>
<div class="container-flex">
  <div class="content">
        <div class="row faire">
          <div class="col-12">
          <h1>Commerce, Pas complique.</h1>
          <p>Aladin est une solution de vente de bout en bout
           pour votre entreprise. Creer et vendez en ligne</p>
         <a role="button" (click)='View()'> <button class="creez">  Creez </button></a>
        </div>
    </div>
 </div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <h1>
  <a role="button" (click)='View()'>  Je personnalise</a>

 </h1>
<div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
     <div class="row">
       <div class="col" >
        <a href="../displays" class="nav-link">Affichages</a>
      </div>

      <div class="col" >
        <span class="vertical-line"></span>
        <a href="../cloths" class="nav-link">Vetements</a>
      </div>

      <div class="col" >
        <span class="vertical-line"></span>
        <a href="../printed" class="nav-link">Imprimes</a>
      </div>

      <div class="col" >
        <span class="vertical-line"></span>
        <a href="../packages" class="nav-link">Emballages</a>
      </div>

      <div class="col" >
        <span class="vertical-line"></span>
        <a href="../gadgets" class="nav-link">Gadgets</a>
      </div>
     </div>
    </div>
  </div>
 </div>
</nav>
-->

<div class="container">
  <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="assets/image/acceuil.jpeg" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="assets/image/BANNER4.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="assets/image/BANNER2.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="assets/image/BANNER1.webp" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>