<div class="container " style="position: relative;margin-top:45px;">
    <div class="row">
      
        <div class="col-6 image">
         
          <img [src]="data.url"  alt="" class="zoom">
         
        </div>
  
        <div class="col-6" >
  
          <h1 class="title-text">{{data.name}} </h1>
          <br>
      <h6>{{data.price}} XOF</h6>
      <br><br>
           <div class="col-6 " style="margin-top:0% ;" >
              <!--taille-->
              <h6>Choisissez une taille</h6>
              <select class="form-select form-select-lg mb-3" aria-label="sacisizecolor" id="mybagcolor" style="width: 100%;" (change)="onchange($event)">
                <option  style="font-size: 12px;">Choix de la taille</option>
                <option *ngIf="data.size.t1" >{{data.size.t1}}</option>
                <option *ngIf="data.size.t2" >{{data.size.t2}}</option>
                <option *ngIf="data.size.t3" >{{data.size.t3}}</option>
                <option *ngIf="data.size.t4" >{{data.size.t4}}</option>
                <option *ngIf="data.size.t5" >{{data.size.t5}}</option>
                <option *ngIf="data.size.t6" >{{data.size.t6}}</option>
                <option *ngIf="data.size.t7" >{{data.size.t7}}</option>
  
  
              </select>
  
              <br><br>
            <!--quantités-->
            <h6>Quantité</h6>
            <div class="qty">
               <div class="moins">
                 <a role="button"><i class="fa fa-minus-square fa-2x" aria-hidden="true" (click)="minusqty()"></i></a>
               </div>
             <span style="margin-left: 40%;">{{quantite}}</span>
             <div class="plus">
              <a role="button"><i class="fa fa-plus-square  fa-2x" aria-hidden="true"  (click)="plusqty()"></i></a>
            </div>
          </div>  
             
           </div>
           <br><br><br>
           <button class=" btn btn-primary" type="submit" style="float: left;" (click)="reload(Changevalue)" style="background-color: royalblue;">Retour</button>
  
           <button class="btn-success" type="submit" style="float: right;" (click)="go(data)">Personnalisé</button>
        </div>
    </div>
  </div>
