<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T053Z2W7VN');
</script>
<app-header *ngIf="head"></app-header>
<app-aladin [data]="data" *ngIf="data.aladin"></app-aladin>
<!--
<div class="grid-container" *ngIf="data.show">
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="row">
    <div class="product">
      <div class="col-6 col-sm-5 products">
        <div class="products-image">
          <div class="product-image">
            <div class="tabs">
              <div class="productimage">
                <div class="image">
                  <img [src]="data.url" class="zoom">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-5 cx">
      <div class="title">
        <h1 class="title-text">{{data.name}} </h1>
      <p> Un lot de {{data.qty}}  <span>{{data.name}}</span> à  {{data.price}} XOF</p>
      </div>
      <div class="description">
        <div class="description-text">
          <ul>

          </ul>
        
        </div>
        <div class="size">
          Taille :
              <ul>
                <li>{{data.size}}</li>
                 
              </ul>
              
        </div>
       


       
</div>
<style>
  a{
    text-decoration: none;
  }
</style>
<div class="btn " (click)="reload(Changevalue)"> 
  <a >
      Retour    
      </a></div>

      <div class="btn bt" > 
        <a  (click)="go(data)">
        Je Personnalise
      </a>
    </div>

    
    </div>

  </div>
</div>

<div class="grid-container" *ngIf="data.show">
  <div class="row">
    <div class="col-10 dx">
      <div class="title-descript">
        <h3 class="text-size">DESCRIPTION</h3>
      </div>
      <div class="body-descript">
        <p>
            {{data.comment}}
       </p>
      </div>

    </div>
  </div>
</div>-->
<div class="container " style="position: relative;margin-top:45px;" *ngIf="data.show">
  <div class="row">
    
      <div class="col-6 image">
       
        <img [src]="data.url"  alt="" class="zoom">
       
      </div>

      <div class="col-6" >

        <h1 class="title-text">{{data.name}} </h1>
        <br>
    <h6>{{data.price}} XOF</h6>
    <br><br>
         <div class="col-6 " style="margin-top:0% ;" >
            <!--taille-->
            <select class="form-select form-select-lg mb-3" aria-label="sacisizecolor" id="mybagcolor" style="width: 100%;" (change)="onchange($event)">
              <option  style="font-size: 12px;">Choix de la taille</option>
              <option *ngIf="data.size.t1" >{{data.size.t1}}</option>
              <option *ngIf="data.size.t2" >{{data.size.t2}}</option>
              <option *ngIf="data.size.t3" >{{data.size.t3}}</option>
              <option *ngIf="data.size.t4" >{{data.size.t4}}</option>
              <option *ngIf="data.size.t5" >{{data.size.t5}}</option>
              <option *ngIf="data.size.t6" >{{data.size.t6}}</option>
              <option *ngIf="data.size.t7" >{{data.size.t7}}</option>


            </select>

            <br><br>
          <!--quantités-->
          <h6>Quantité</h6>
          <div class="qty">
             <div class="moins">
               <a role="button"><i class="fa fa-minus-square fa-2x" aria-hidden="true" (click)="minusqty()"></i></a>
             </div>
           <span style="margin-left: 40%;">{{quantite}}</span>
           <div class="plus">
            <a role="button"><i class="fa fa-plus-square  fa-2x" aria-hidden="true"  (click)="plusqty()"></i></a>
          </div>
        </div>  
           
         </div>
         <br><br><br>
         <button class=" btn btn-primary" type="submit" style="float: left;" (click)="reload(Changevalue)" style="background-color: royalblue;">Retour</button>

         <button class="btn-success" type="submit" style="float: right;" (click)="go(data)">Personnalisé</button>
      </div>
  </div>
</div>






